
body{
  background-color: #C0C0C0;
}

.hn {
  border-radius: 5px;
  background-color: #9ACD32;
}
.hn:hover {
  background-color: white;
}

h2 {
  font-family: sans-serif;
  text-align: center;
}




/**************************DIVS*******************/
#wrapper {
  position: relative;
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

div {
  position: relative;
}

#header {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: 2px solid black;
  text-align: center;
}

#left {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

.list{
  margin-left: auto;
  margin-right: auto;
}
/**************************************************/

/**************************LINKS*******************/

a {
  margin: 5px;
  font-family: sans-serif;
}

a:hover {
  color: red;
}

/**************************************************/

/**********************TABLES**********************/
table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 2px groove black;
  border-radius: 5px;
}

th {
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 5px;
}

tr, td {
  font-family: sans-serif;
  font-size: 16px;
  border: 2px solid black;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

td:hover {
  background-color: #CCFF66;
  color: red;
}
/**************************************************/
