{% extends 'todo/base.html' %}

{% block title%}Index{% endblock %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>ToDo List App</h1>
    <hr>
    <form role="form" method="post" action={% url "todo:index" %} class="post-form">
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}

      {% for field in form.visible_fields %}
        {{ field.help_text }}
        <p>{{ field.label }}: {{ field }} <span style="color:red">{{ field.errors }}</span></p>

      {% endfor %}
      <button type="submit" class="glyphicon glyphicon-plus">Submit</button>
    </form>
    <hr>
    <br/>
    <table class="table table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>Action Item</th>
          <th>Due Date</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
      {% for item in todo %}
        <tr>
          <td>
            <form role="form" method="post" action="{% url "todo:complete" %}?next={% url "todo:index" %}" class="form-inline">
              {% csrf_token %}
              <a class="chkbx" id="{{ item.id }}" href="#{{ item.id }}">
              <span class="glyphicon glyphicon-unchecked"></span></a>
            </form>
          </td>
          <td>
            {% if item.is_completed %}
              <span class="todo-text" style="text-decoration:line-through;">{{ item.name }}</span>
            {% else %}
              <span class="todo-text">{{ item.name }}</span>
            {% endif %}
          </td>
          <td><span class="badge"> {{ item.due_date }}</span></td>
          <td>
            <form role="form" method="post" action="{% url "todo:remove" %}?next={% url "todo:index" %}" class="form-inline">
              {% csrf_token %}
              <button name="remove_button" value="{{ item.id }}" type="submit" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-remove">
              </button>
            </form>
          </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
</div>

{% endblock %}
