{% extends 'todo/base.html' %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>ToDo List App</h1>
    <hr>
    <form role="form" method="post" action={% url "todo:index" %} class="post-form">
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}

      {% for field in form.visible_fields %}
        {{ field.help_text }}
        <p>{{ field.label }}: {{ field }} <span style="color:red">{{ field.errors }}</span></p>

      {% endfor %}
      <button type="submit" class="glyphicon glyphicon-plus">Submit</button>
    </form>
    <hr>
    <br/>
    <ul class="list-group">
      {% for item in todo %}
        <h3><li class="list-group-item">
          <a href="#{{ item.id }}"><span class="glyphicon glyphicon-unchecked"></span></a>
          <span class="todo-text">{{ item.name }}</span>
          <span class="badge"> {{ item.due_date }}</span>
        </li></h3>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
